[submodule "emojicon"]
	path = emojicon
	url = http://182.254.185.162:7990/scm/eig/emojicon
    branch = master
[submodule "wiki"]
	path = wiki
	url = http://182.254.185.162:7990/scm/eig/wiki
    branch = master
[submodule "ImageViewZoom"]
	path = ImageViewZoom
	url = http://182.254.185.162:7990/srm/eig/ImageViewZoom.git
	branch = master
