[submodule "emojicon"]
	path = emojicon
	url = http://git.lanmeiquan.cn/scm/eig/emojicon
    branch = master
[submodule "wiki"]
	path = wiki
	url = http://git.lanmeiquan.cn/scm/eig/wiki
	branch = master
[submodule "ImageViewZoom"]
	path = ImageViewZoom
	url = http://git.lanmeiquan.cn/scm/eig/imageviewzoom.git
	branch = master
