[submodule "emojicon"]
	path = emojicon
	url = http://git.lanmeiquan.cn/scm/eig/emojicon
[submodule "wiki"]
	path = wiki
	url = http://git.lanmeiquan.cn/scm/eig/wiki
[submodule "ImageViewZoom"]
	path = ImageViewZoom
	url = https://github.com/ccl1115/ImageViewZoom.git
	branch = master
